<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meizu.powertesttool">

    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.meizu.safe.alphame.provider.permission" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".WorkService" />

        <activity
            android:name=".rainbowcolor.RainbowActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".broadcasttest.BroadcastActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".sensor.SensorActivity" />
        <activity android:name=".switchanimation.SwitchAnimationActivity" />
        <activity android:name=".switchanimation.OtherSwitchActivity" />
        <activity android:name=".pingtest.PingActivity" />
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".powerdisplay.ui.PieChartBuilder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".powerdisplay.ui.AppDetailActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".alarmtest.TestBroadReceiver">
            <intent-filter android:priority="1000">
                <action android:name="com.meizu.ww" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcasttest.BootRecevier">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".cpuload.HighCpuloadActivity" />
        <activity android:name=".bluetoothTest.BluetoothActivity" />
        <activity android:name=".downloadTest.UnInterruptedDownloadActivity" />

        <service
            android:name=".downloadTest.service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".musicPlay.MusicPlayActivity" />

        <service
            android:name=".musicPlay.service.MusicPlayService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".unInterruptAwake.UnInterruptAwakeActivity" />

        <service
            android:name=".unInterruptAwake.jobScheduler.service.UnInterruptAwakeService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".unInterruptAwake.jobScheduler.JobSchedulerReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".unInterruptAwake.syncmanger.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".unInterruptAwake.syncmanger.StubContentProvider"
            android:authorities="com.meizu.powertestTool.content"
            android:enabled="true"
            android:exported="true"
            android:syncable="true" />

        <service
            android:name=".unInterruptAwake.syncmanger.SyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name=".unInterruptAwake.syncmanger.SyncMangerReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>